@import "app/styles/variables.scss";

.side-menu {
  background-color: $color-black;
  height: 100vh;
  margin-top: 60px;
  position: fixed;
  opacity: 0;
  transition: opacity 0.6s ease-out;
  visibility: hidden;
  width: 60%;
  z-index: 999;

  &__list {
    border-bottom: solid thin $color-gray-light;
    color: $color-white;
    cursor: pointer;
    font-size: $font-size-sm;
    list-style-type: none;
    padding: $padding-20;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }
}
